.modbuild{
  height: 8em;
  background-color: rgb(169, 204, 227);
  width: 100%;
  padding: 30px;
}
.modbuildd{
  height: 20em;
  background-color: rgb(234, 242, 248);
  width: 100%;
  padding: 30px;
}

.ModListCell{
  background-color: rgba(170, 183, 184 ,0.9);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height: 4em;
  width: 100%;
  color: black;
  padding: 5px;
  margin-top: 5px;

}

.ModListCellSelect{
  padding: 10px;
  height: 100%;
  float: left;
  width:5%;

}

.ModListCellName{
  padding: 10px;
  height: 100%;
  float: left;
  width:50%;
}

.ModListCellActive{
  padding: 10px;
  height: 100%;
  float: left;
  width:25%;
}

.moduleNew{
  padding:2em;
}

.QMSelectors{
  height: auto;
  overflow: auto;
  margin-bottom: 20px;
  width: 100%;
  float: left;



}
.QMSelectorss{
  height:100%;
  float: left;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  width: 50%;
=======
  width: 40%;
>>>>>>> Stashed changes
=======
  width: 40%;
>>>>>>> Stashed changes
}
.modlistCell{
  height: 6em;
  background-color: aliceblue;
  color: black;
}
.modselectA{
  height: 100%;
  background-color: rgba(170,170,170,0.8);
  width: 10%;
  float: left;

}
.modselectB{
  height: 100%;
  width: 90%;
  background-color: rgba(160,160,160,0.5);
  float: left;
}
