body {
        background-color: rgba(160,160,160,0.1);
 }
 input[type=checkbox]
 {
   /* Double-sized Checkboxes */
   -ms-transform: scale(1.5); /* IE */
   -moz-transform: scale(1.5); /* FF */
   -webkit-transform: scale(1.5); /* Safari and Chrome */
   -o-transform: scale(1.5); /* Opera */

 }
 input[type=radio]
 {
   /* Double-sized Radio Button */
   -ms-transform: scale(1.5); /* IE */
   -moz-transform: scale(1.5); /* FF */
   -webkit-transform: scale(1.5); /* Safari and Chrome */
   -o-transform: scale(1.5); /* Opera */
 }

 #moduleTABcontainer{
   display: none;
 }
 #quizadminTABcontainer{
   display: none;
 }
 #quiztemplateViewTABcontainer{
   display:none;
 }
 #quizshareTABcontainer{
   display: none;
 }
 #quizdeployTABcontainer{
   display: none;
 }

/*List View Panel Containers Start*/
#ModuleListViewTABcontainer{
   display: none;
 }
#QuestionListViewTABcontainer{
  display: none;
}
#TemplateListViewTABcontainer{
  display: none;
}
#QuizListViewTABcontainer{
  display: none;
}
#StudentListViewTABcontainer{
  display: none;
}
#StudentAdmin{
  display: none;
}
/*List View Panel Containers End*/


#SelectedPublicQuiz{
  display: none;
}

 #QuestionbuildContainer{
   display: none;
 }
#templatebuildcontainer{

}
#QnASetViewcontainer{
  display: none;

}
#quizSavecontainer{
  display: none;
}
/*NEW LARAVEL FORMATTING START */

.BKG{
    min-height: 100vh;

    background-color: rgb(46, 134, 193);
    background: -webkit-linear-gradient(-75deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
    background: -o-linear-gradient(-75deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
    background: -moz-linear-gradient(-75deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
    background: linear-gradient(-75deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));

}
.Panelbkg{
    background-color: rgba(254,254,254,0.6);
    margin-top: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding:2em;

}

.Panelbkgg{
  height: 11em;
  background-color: rgba(254,254,254,0.6);
  margin-top: 2em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding:3em;
}

.layoutbkg{
  background-image: url(../images/owlEdit1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 14em;
  width: auto;
}

.BannerTop{
  height:3rem;
  width:100%;
  float:left;
  padding: 10px;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;

}

.Spacer{
  height: 3em;
}

.divNewQAA{
  padding:20px;
}

.adminPanelelement{
    margin-bottom: 30px;
}
.adminPanelelementt{
    margin-bottom: 10px;
}

.quizbuttonn{
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
box-shadow:inset 0px 1px 0px 0px #54a3f7;
height: 2rem;
background-color:rgb(84, 153, 199);
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:2px;
border:1px solid #124d77;
display:inline-block;
cursor:pointer;
color:rgb(254,254,254);
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #154682;
}

.quizbuttonn:hover{
  height: 2rem;
color:rgb(254,254,254);
background-color:rgb(127, 179, 213);
text-decoration: none;
}

.quizbutton{
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
box-shadow:inset 0px 1px 0px 0px #54a3f7;
height: 3rem;
background-color:rgba(84, 153, 199,0.9);
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:2px;
border:1px solid rgba(160,160,160,0.8);
display:inline-block;
cursor:pointer;
color:#ffffff;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #154682;
}

.quizbutton:hover{
  height: 3rem;
color:#000000;
background-color:rgba(84, 153, 199,0.9);
text-decoration: none;
}

.quizbuttoon:active{
  position:relative;
	top:1px;
}

.MainMenu{


  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  text-decoration: none;


}

.InstructMenu h5{
  text-align: center;
  vertical-align: middle;

  padding-top: 10px;
  color: rgba(23, 32, 42,0.5);

}

.InstructMenu:hover h5{
  text-align: center;
  vertical-align: middle;

  padding-top: 10px;
  color: rgba(23, 32, 42,0.9);

}

.AdminTables{
    padding-left: 2em;
}

.AdminTables th{
    background-color: rgb(169, 204, 227);
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.AdminTables td{
    background-color:rgb(234, 242, 248);
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

.AdminStudentIframe{
    width: 100%;
    height: 80vh;

}

.buttonPlace{
  width:100%;
  height: auto;
}


.selectPanel{
  z-index: 10;
  width: 100%;
  height: 4rem;
  background-color: rgb(46, 134, 193);
  background: -webkit-linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
  background: -o-linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
  background: -moz-linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
  background: linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));


}
.selectPanelll{
  width: 100%;
  height: 7.8rem;
  background-color: rgba(170,180,190,0.2);

}
.selectPanell{

  width: 100%;
  height: 14em;
  overflow: auto;
  text-decoration: none;
  background-color: rgb(46, 134, 193);
  background: -webkit-linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
  background: -o-linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
  background: -moz-linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));
  background: linear-gradient(-90deg, rgba(169, 204, 227,0.2), rgba(46, 134, 193,1));

}




div.selectPanel button{
    height:4rem;
    width:100%;
    float:left;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(160, 160, 160, 0.9);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(160, 160, 160, 0.9);
    border-top:none;
    border-bottom: none;
    background-color:rgba(213, 219, 219  ,0.6);
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
    -webkit-transition: border .5s ease-in;
    -moz-transition: border .5s ease-in;
    -o-transition: border .5s ease-in;
    transition: border .5s ease-in;

}
div.selectPanel button:hover{
    height:4rem;
    width:100%;
    float:left;
    background-color:rgba(229, 232, 232  ,0.9);
    border-top-width:10px;
    border-top-style: solid;
    border-top-color:rgba(93, 173, 226,0.7);

}
div.selectPanel button:active{
  height:4rem;
  width:100%;
  float:left;
  background-color:rgba(229, 232, 232  ,0.9);
  border-top-width:10px;
  border-top-style: solid;
  border-top-color:rgba(212, 230, 241,0.7);
}

div.selectPanell a{
    height:3rem;
    width:100%;
    float:left;
    margin-bottom:20px;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgba(169, 204, 227,0.5);
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;

}
div.selectPanell a:hover{
    height:3rem;
    width:100%;
    float:left;
    text-decoration: none;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom:20px;
    background-color:rgba(229, 232, 232  ,0.4);


}
div.selectPanell a:active{
  height:3rem;
  width:100%;
  float:left;
  background-color:rgba(229, 232, 232  ,0.9);

}
.AdminPanel{
  height:2rem;
  width:100%;
  float:left;
  background-color: rgba(169, 204, 227, 0.4);
}

.AdminPanell{
  height:auto;
  overflow: auto;
  width:100%;
  float:left;
  padding:20px;
  background-color: rgba(169, 204, 227, 0.4);
}
.ModuleListCell{
  height: 4em;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: rgba(170, 183, 184 ,0.2);
}
.QuizAdminTable{
  height: 10vh;
  width:100%;
  background-color: cornsilk;

}
.QuizAdminRow{
  height: 100%;
  width: 25%;
  float: left;
}
.QuizBuildStart{
    height: 5em;
    width: 100%;
    background-color: rgb(234, 242, 248);

}
.QuizBuildStartCell{
    height: 100%;
    width:50%;
    float: left;

}
.Quizedit{
  background-color: rgb(169, 204, 227);
    height: 5em;
    width: 100%;
    padding: 10px;
}
.QuizeditDescript{
    background-color: darkgrey;
    height: 10em;
    width: 100%;
    padding: 10px;
}
.QuizeditSelect{
    background-color: darkgrey;
    height: 6em;
    width: 100%;
    padding: 10px;
}
.QuizeditCell2{
    height: 100%;
    width: 33%;
    float: left;
    padding: 5px;
}
.QuizeditCell{
    height: 100%;
    width: 40%;
    float: left;

}
.QuizeditCell1{
    height: 100%;
    width: 20%;
    float: left;
}
.QuizeditCell2{
    height: 100%;
    width: 60%;
    float: left;
}
.QuestionListSection{
    height: auto;
    width:100%;
    background-color: #BFC9CA ;
}
.QuestBuildCell{
    padding:20px;
    height: 5em;
    margin-top: 10px;
    width:100%;
    background-color: #BFC9CA ;
}
.QuestBuildCelll{
    padding:20px;
    height: 15em;
    margin-top: 10px;
    width:100%;
    background-color: #BFC9CA ;
}
.QeditQnA{
   height:auto;
   width:50%;
   float: left;
}

/*latest quiz edit styles*/
.quiizeditt{
    height: auto;
    overflow: auto;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 1em;
    background-color: rgb(169, 204, 227);
}
.quizeditquestiontop{
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 30px;
    background-color:rgba(229, 232, 232  ,0.9);
    margin-bottom: 10px;
}
.quizeditanswerrcell{
    height: 12em;
    width: 100%;

}
.quizeditAnswerlist{
    height: 100%;
    width: 50%;
    float: left;
    margin-bottom: 2em;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
  }
.quizeditbuttons{
  height: 100%;
  width: 40%;
  float: left;
}
.questioncontrol{
  width: 40%;
  height: 100%;
  float: left;
  padding-left: 20px;
}

.editquiztop{
  height: 6em;
  width:100%;
}
.editcontroll{
  height: 100%;
  float: left;
  width: 20%;
}

.quiznamedescrip{
  margin-left: 20px;
}
/*latest quiz edit styles end*/


.QeditAnswers{
  height: auto;
  width: 50%;
  float: left;
}
.QeditButtons{
  height: auto;
  width: 100%;
  float: left;
  background-color: darkgrey;
  padding-top: 20px;
  padding-bottom: 20px;
}
.QeditControl{
  height: auto;
  width: 25%;
  float: left;
}
.QuestionSection{
  height:auto;
  width:100%;
  background-color: darkgrey;
}

.TestView{
  height:10em;
  width:100%;
  background-color: green;
}
.TestViewRow{
  height: 50%;
  width:100%;
}
.TestViewItem{
  height: 100%;
  width: 33%;
  float: left;

}
.QuizListCell{
  background-color: rgba(170, 183, 184 ,0.2);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height: 4em;
  width: 80%;
  color: black;
  padding: 5px;
  margin-top: 5px;
}
.QuizListCellName{
  height: 100%;
  padding: 10px;
  float: left;
  width:50%;
}
.QuizListCellSelect{
  padding: 10px;
  height: 100%;
  float: left;
  width:10%;
}

.QuizListCellActive{
  padding: 10px;
  height: 100%;
  float: left;
  width:40%;
}


.QuizListCellControl{
  height: 100%;
  float: left;
  width:38%;
}

.QuizDetail{
  background-color: rgba(213, 219, 219  ,0.7);
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  height: 50%;
  width:100%;
}
.QuizEditt{
  padding: 10px;
  height:100%;
  width:50%;
  float: left;
  background-color: rgba(213, 219, 219  ,0.7);
}
.QuizEdit{
  padding: 10px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  height:100%;
  width:50%;
  float: left;
  background-color: rgba(191, 201, 202    ,0.9);
}

.modlistCell{
  height: 6em;
  background-color: aliceblue;
  color: black;
}
.modselectA{
  height: 100%;
  background-color: rgba(170,170,170,0.8);
  width: 10%;
  float: left;

}
.modselectB{
  height: 100%;
  width: 90%;
  background-color: rgba(160,160,160,0.5);
  float: left;
}

.deployQuizCell{
    height:4rem;
}
.deployQuizCelll{
    padding:20px;
    height:auto;

}
.deployQuizItem{
    padding: 15px;
    color: white;
    height: 100%;
    width: 100%;
    float: left;
    background-color: darkgrey;
}
.deployQuizItem1{
    color: white;
    height: 100%;
    width: 50%;
    float: left;
    background-color: darkgrey;
}
.deployQuizItem2{
    padding:15px;
    height: 100%;
    width: 50%;
    float: left;
    background-color: lightgrey;
}
.deployTest{
    font-size: 26px;;
}
/*NEW LARAVEL FORMATTING END */


 .scale-image
 {
      display: block;
      width: auto;
      max-width: 100%;
 }

.stdLogin{
  background-color: green;
  color: white;
  font-weight: bold;
  height: 33em;
  padding: 20px;
}
.InputForm{
  background-color: blue;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: auto;
  height: 20em;
  width:50%;
}


.workarea{
  height: auto;
  color: black;
  font-weight: bold;
    padding: 15px;
}

.workview{
  color: black;

  height: auto;
  font-weight: bold;
    padding: 15px;
}
.quizbuildcontainer{

  height: 15em;
  width:100%;
}
.QuestionbuildContainer{
  background-color: aliceblue;
  height: 40em;
  padding:10px;
}
.QnASetViewcontainer{
  background-color: rgba(160,160,199,0.6);
  color: black;
  padding: 20px;
}
.questionSelect{
  height:33em;
  width:100%;
  background-color: rgb(160,160,160,0.9);
  color: white;
  font-weight: bold;
    padding: 15px;
}
.quizViewer{
  height:8em;
  width:100%;
  background-color: red;
  color: white;
  font-weight: bold;
    padding: 15px;
}
.quizDeploy{
  height:8em;
  width:100%;
  background-color: blue;
  color: white;
  font-weight: bold;
    padding: 15px;
}
.QuestionPanel{
  height:100%;
  width:100%;
  background-color: rgba(170, 183, 184 ,0.6);
}
.QuestionPanell{
  height:auto;
  width:100%;
  margin-top: 50px;

}
.questionframe{
  width: 100%;
  height: 100vh;
  border:none;
}
.Question{
  width: 100%;
  height: 60%;
  background-color: rgba(160,160,160,0.5);
  float: left;
  color: black;
  font-weight: bold;
}
.AnswerSet{
    height: 100%;
    width: 100%;

}
.TestQuestion{
  height: 100%;
  width: 100%;


}
.CurrentTestQuestion{
  text-align: center;
  margin-top: 35%;
  color: blue;
  font-weight: bolder;
}
#prevquestion{
  float: left;
}
#nextquestion{
  float: right;
}
.TestNavSet{
  height: 10%;
  width: 100%;
  margin-top: 20px;
  background-color: rgba(84, 153, 199,0.2);
  padding: 10px;
}

.TestNavSet{
    font-size: 22px;
    font-weight: bold;
}

.TestQuestionSelect{
  height: 100vh;
  width: 100%;
  margin-top: 10px;
  background-color: rgba(84, 153, 199,0.2);
}

.TestListTop{
  height: 3em;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgba(127, 179, 213,0.1);
}

.TestListTop input{
  font-size: 22px;
  font-weight: bold;

}

.TestListCell{
  height: 11%;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  overflow: auto;
  background-color: rgba(127, 179, 213,0.5);
}

.TestListCell p{
  font-size: 18px;
  color:black;
}

.TestQuestionStatus{
  height: 100%;
  width: 15%;
  float: left;
  background-color: green;
}
.TestQuestionName{
  height: auto;
  width: 85%;
  padding: 5px;
  float: left;
  background-color: rgba(127, 179, 213,0.1);
}
.TestAnswerListCell{
    height: 15%;

    padding: 5px;
    margin-top: 20px;
    overflow: auto;
    background-color: rgba(127, 179, 213,0.5);
}
.TestAnswerName{
    height: auto;
    width: 80%;
    padding: 8px;
    float: left;
}
.TestAnswerSelect{
    height: 100%;
    width: 20%;
    padding: 10px;
    float: left;
}

.AnswerOption{
  width: 100%;
  height: 25%;
  background-color: rgba(166,166,160,0.7);
  float: left;
  color: black;
  margin-top:5px;
  font-weight: bold;

}
.NextQuestion{
  height: 10%;
  width:100%;
  float: left;
  margin-top: 5px;
  color: black;
  font-weight: bold;
  background-color: aliceblue;
}
.Answer{
    margin-top: 5px;
    height: 4em;
    width:100%;
    float: left;
    color: black;
    font-weight: bold;
}

.AnswerNumber{
  float: left;
  height: 100%;
  padding-right: 10px;
}
.AnswerTextInput{
  float: left;
  height: 100%;
}


.testsessionUI{
  background-color: rgba(160,160,160,0.3);
  height: 70vh;
  width: 95%;
  margin: 0 auto;
  margin-top: 4em;
}
.testSessionChart{
  background-color: rgba(160,160,160,0.1);
  height: 100%;
  width: 100%;
  float: left;
  margin-top: 10px;
}
.TestCompletion{
  background-color: rgba(160,160,160,0.4);
  height: 100%;
  width: 100%;
  float: left;
  padding: 15px;
}
.TestSessionTimer{
  background-color: rgba(160,160,160,0.3);
  height: 100%;
  width: 100%;
  float: left;
  padding: 15px;
}
.QBsections1{
    height:6em;
    width: auto;
    padding: 10px;
    background-color:rgb(234, 242, 248) ;
}
.QBsections2{
    height:8em;
    width: auto;
    padding: 10px;
    background-color:rgb(123, 204, 227);
}
.QBsections3{
    height:auto;
    overflow: auto;
    width: auto;
    padding: 20px;
    background-color:rgb(123, 204, 227);
}

.QBsections4{
    height:auto;
    overflow: auto;
    width: auto;
    padding: 20px;
    background-color: rgb(234,242,248);
}
.QBsections5{
    height:auto;
    width: auto;
    padding: 20px;
    background-color: #4EAFFF;
}

.QBSelectors{
    height: 100%;
    width: 50%;
    float: left;
}
.QBSelectorss{
    margin-top: auto;
    height: 100%;
    width: 100%;
    float: left;
}
.QBsegment{
    height: 100%;
    width: 100%;
    float: left;
}

.questionTotal{
  width: 50px;
}
.QuestionListView{
  padding:20px;
}
.questionSetup{
  margin-top: 5px;
}
.QListSegment{
    background-color: aliceblue;
    height: 6em;
    width:100%;
    padding: 15px;
    margin-top: 15px;
    color: black;
}
.QListQuestion{
    height: 100%;
    float: left;
    width: 50%;
}
.QlistchkbxSelect{
    height: 100%;
    float: left;
    margin-right: 20px;
    width:5%;
}
.studentBar{
    height:105px;
    width: 100%;
    padding: 10px;
}
.stdIMG{
    height:100%;
    width: 20%;
    float: left;
    background-color: rgba(133,193,233,0.6);
}
.stdName{
  height:100%;
  width: 50%;
  float: left;
  background-color: rgba(133,193,233,0.5);
}
.stdConnect{
  height:100%;
  width: 15%;
  float: left;
  background-color: rgba(133,193,233,0.4);
}
.stdListSelect{
  height:100%;
  padding: 30px;
  width: 15%;
  float: left;
  background-color: rgba(133,193,233,0.4);
}
.stdStatus{
  height:100%;
  width: 15%;
  float: left;
  background-color: rgba(133,193,233,0.4);
}
.profile{
  width: 80px;
	height:80px;
  margin: 0 auto;
  overflow: hidden;
	background: red;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}
.testStatus{
  width: 40px;
	height:40px;
	background: black;
  margin: 0 auto;
  margin-top: 25%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.testStatuss{
  width: 40px;
	height:40px;
	background: rgba(160,160,160,0.1);
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin: 0 auto;
  margin-top: 25%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.connectStatus{
  width: 40px;
	height:40px;
	background: rgba(160,160,160,0.1);
  border-width: 5px;
  border-style: solid;
  border-color: green;
  margin: 0 auto;
  margin-top: 25%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.connectStatuss{
  width: 40px;
	height:40px;
	background: rgba(160,160,160,0.1);
  border-width: 5px;
  border-style: solid;
  border-color: red;
  margin: 0 auto;
  margin-top: 25%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.TestCompleteTotal{
  height:75px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(160,160,160,0.5);
}
.completeTEXT{
  height: 100%;
  width:50%;
  float: left;
}
.completeRatio{
  height: 100%;
  width:50%;
  float: left;
}
