body{

}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.quizViewSection{
    height:6em;
    width: 100%;
    padding: 20px;
    background-color: lightgrey;
}
.quizViewNextpanel{
    background-color: darkgrey;
}
.QuizListCell{
  background-color: rgba(160,160,160,0.5);
  height: 4em;
  width: auto;
  color: black;
  padding: 10px;
  margin-top: 5px;
}
.QuizListCellName{
  height: 100%;
  float: left;
  width:40%;
}
.QuizListCellSelect{
  padding: 10px;
  height: 100%;
  float: left;
  width:10%;
}
.MyquizViewSection{
    height:6em;
    width: 100%;
    padding: 20px;
    background-color: darkgrey;
}
.QuizListView{
      background-color: aliceblue;
      height: auto;
      padding: 20px;
      margin-top: 5px;
}
.QuizViewer{
    height:15em;
    width: 100%;
    padding: 20px;
    background-color: lightblue;
}
.QuizListSegment{
    height: 3em;
    width:100%;
    padding: 15px;
    margin-top: 15px;
    background-color: rgba(160,160,160,0.6);
}
.QuizNameView{
    height:4em;
    width: auto;
    padding: 10px;
    background-color: darkgrey;
}

.QViewselect{
    height: 100%;
    float: left;
    width:50%;
    margin: 0 auto;

}
.MyQViewselect{
    height: 100%;
    float: left;
    width:50%;
    margin: 0 auto;

}
.viewSpacer{
  margin-top: 5px;

}
